/* 태그 선택자, id 선택자, 클래스 선택자 순으로 영향력이 있음 */
/* 만약 같은 종류의 선택자들이 있다면, 순서대로 뒤에 있는 선택자가 영향력이 큼 */
/* 태그 선택자는 클래스, id 선택자보다 포괄적임 */
  a { /*a 태그를 가진 글자를 검정색으로 하고, 밑줄 처리를 없애기 위한 선택 */
    color: black;
    text-decoration: none;
  }
  /* 특정 id 값은 딱 한 번만 써야함 => 태그 선택자보다 더 구체적 */
  /* 클래스 선택자는 id 선택자보다 포괄적이고, 태그 선택자보다 구체적임 */
  #active { /*선택된 메뉴는 빨간색으로 처리해주기 위한 선택자 */
    color: PaleVioletRed;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 30px;
  }
  /* ,없이 앞에 다른 선택자를 써주면 부모 선택자임을 표시할 수 있음 */
  #grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    margin-left: 10px;
    padding: 20px;
    padding-right: 50px;
  }
  body{
    margin: 10px;
  }
  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #contents {
    margin-left: 60px;
  }
  @media (max-width: 800px) {
    #grid {
      display: block; /* div 상태를 원래 상태인 block으로 바꿈 */
    }
    #grid ol {
      border-right: none;
    }
  }
